.home-content {
  animation-duration: 2s;
  animation-name: slidehome;
  animation-direction: alternate;

  transition: transform 0.5s ease-in-out;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15rem;
  font-family: Abel;
}

.home-title {
  font-size: 10rem;
  color: #fff;
}

h2 {
  font-size: 2rem;
}

.home-content-buttons {
  display: flex;
  gap: 30px;
}

.home-link {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 5rem;
  font-size: 1.3rem;
  color: #fff;

  background-color: #15d4ae;
  padding: 1rem 4rem;
  border-radius: 40px;
  font-weight: 700;

  transition: all 0.6s linear;
  animation: pulse 1.5s infinite;

  &:hover {
    background-color: #43aa8b;
    text-decoration: none;
    color: #fff;
  }
}

.home-poligono {
  position: absolute;

  right: 30px;

  height: 100%;
  z-index: -1;
  overflow: hidden;
}

/* MODAL */
/* Adicione estas regras de estilo ao final do seu arquivo SCSS */

.modal {
  /* Estilos para o modal */
  // background-color:
  background-color: rgba(243, 170, 126, 1);
  width: 90%;
  height: 60%;
  max-width: 800px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  padding: 2rem;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.overlay {
  /* Estilos para a overlay do modal */
  border-radius: 24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-image {
  /* Estilos para a imagem do modal */
  width: 80%;
  height: 100%;
}

.modal-content {
  /* Estilos para o conteúdo do modal */
  display: flex;
  flex-direction: row;
  align-items: center;

  background: transparent;
  border: none;

  .modal-content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 50%;

    img {
      align-self: self-start;
    }

    h1 {
      font-size: 2rem;
      color: #fff;
    }
  }
}

.userMenu {
}

.modal-form {
  display: grid;
  align-content: center;
  max-width: 50%;
  width: 100%;
  height: 100%;

  p {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
  }
}

.modal-input {
  border-radius: 15px;
  border: 1px solid #ccc;
  background: #fffaf0;
  padding: 0.5rem 1rem;
  color: #505050;
  font-family: ABeeZee;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
}

.modal-button {
  position: absolute;
  bottom: 20px;
  right: 0;

  border-radius: 50%;
  padding: 7px;

  background: #fffaf0;
  border: none;
  -webkit-box-shadow: -1px 2px 37px 1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: -1px 2px 37px 1px rgba(0, 0, 0, 0.39);
  box-shadow: -1px 2px 37px 1px rgba(0, 0, 0, 0.39);
  transition: all 0.6s linear;

  &:hover {
    transform: scale(1.1);
  }
}

@keyframes slidehome {
  from {
    margin-left: 0%;
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .home-content {
    margin-top: 2rem;
  }

  .home-title {
    font-size: 6rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .home-content-buttons {
    flex-direction: column;
    margin-top: 3rem;
  }

  .home-link {
    margin-top: 1rem;
  }

  .modal {
    height: 80%;
  }

  .modal-content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .modal-content .modal-content-left {
    margin-bottom: 2rem;
    max-width: 100%;

    img {
      align-self: center;
    }
  }

  .modal-form {
    max-width: 100%;
    width: 100%;
  }
}
