.quiz-container {
  animation: slidein 4s alternate;

  transition: transform 0.5s ease-in-out;
  scroll-behavior: smooth;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.quiz-title {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 2.2rem;
    font-weight: 300;
    text-align: center;
    color: #fff;
    transition: transform 0.5s ease-in-out;
    font-family: Abel;

    &:hover {
      transform: scale(1.05);
      text-decoration: none;
    }
  }

  span {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;

    p {
      padding-top: 10px;
    }
    .bar {
      width: 100%;
      max-width: 500px;
      height: 20px;
      background-color: #fff;
      margin: 0 10px;
      display: flex;
      justify-content: flex-start;
      border-radius: 16px;

      .barContent {
        height: 100%;
        border-radius: 16px;
        background: #31cd63;
      }
    }
  }
}

.quiz-pergunta {
  margin-top: 6rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  font-family: "ABeeZee", sans-serif;
}

.quiz-result-btns {
  display: flex;
  gap: 3rem;
  margin: 2rem auto;
  justify-content: center;
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  border-radius: 26px;
  padding: 0.8rem 2rem;
  width: 44%;

  transition: all 0.6s ease-in-out;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 500;

  &:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }
}

.quiz-container .btnRestart {
  transition: all 0.6s ease-in-out;
  color: #fff;
  border: 1px solid #cdcd;
  font-weight: 700;
  background: transparent;
}

.quiz-container .btnHome {
  transition: all 0.6s ease-in-out;
  background: #45c486;
  color: #fff;
}

.respostas {
  display: grid;
  grid-template-columns: auto(1fr 1fr 1fr);
  gap: 30px;
  margin-top: 5rem;

  .respostaItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    cursor: pointer;

    border-radius: 15px;

    transition: all 0.3s ease-in-out;
    border: 1px solid #464646;

    background: #f4f3f6;

    &:hover {
      transform: scale(1.05);
    }

    &:focus {
      outline: none;
    }

    h1 {
      font-family: "ABeeZee", sans-serif;
      color: #060710;
    }
  }
}
.icons {
  display: none;
  width: 24px;
  height: 24px;
  font-size: 1.9em;
  margin-bottom: 30px;
}

.show {
  display: block;
}

.flash {
  animation: flash 2s ease-in-out;
}

.flash-bad {
  animation: flash-bad 2s ease-in-out, shake 0.6s linear;
}

@keyframes flash {
  from {
    background-color: rgb(109, 109, 109);
  }
  to {
    background-color: #62c562;
  }
}

@keyframes flash-bad {
  from {
    background-color: rgb(109, 109, 109);
  }
  to {
    background-color: #f54545;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .quiz-container {
    margin-top: 0;
  }

  .quiz-title {
    span {
      font-size: 2rem;
    }
  }

  .quiz-pergunta {
    margin-top: 5rem;
    font-size: 2rem;
  }

  .respostas {
    grid-template-columns: auto(1fr 1fr);

    button {
      gap: 2px;
      h1 {
        font-size: 1.2rem;
      }
    }
  }

  .quiz-result-btns {
    gap: 1rem;
  }

  .quiz-title {
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1rem;

    span {
      width: 100%;
      max-width: 100%;
      margin-top: 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 1.2rem;
      }
    }
  }
}
