.respost-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  transition: all 0.6s;
  background: transparent;
  font-size: 1.33rem;
  width: 90%;
  padding: 0.8rem 0;
}
